body {
    font-family: "Josefin Sans", sans-serif;
}


.main-component {
    display: flex;
    margin-left: 165px;
    margin-top: 64.91px;
}

.cta {
    width: 445px;
    height: 404px;
}

.cta h1 {
    font-size: 64px;
    font-weight: 600;
    color: #423A3A;
    letter-spacing: 17.32px;
    margin-top: 150px;
}

.cta h1 span {
    color: #CE9898;
    font-weight: 300;
}

.cta p {
    margin-top: 32px;
    font-size: 16px;
    color: #CE9898;
}

.heroImg img {
    width: 610px;
    height: 735px;
    margin-top: -64.91px;
    margin-left: 203px;
}

.cta form {
    margin-top: 40px;
}

input::placeholder {
    color: #CE9898;
}

input:focus::placeholder {
    color: transparent;
}

.emailInput {
    width: 415px;
    height: 56px;
    border-color: #CE9898;
    border-style: solid;
    border-radius: 30px;
    padding-left: 30px;
}

.submit-btn {
    position: relative;
    top: -59px;
    left: 349px;
    width: 100px;
    height: 56px;
    background: rgb(248, 191, 191);
    background: linear-gradient(180deg, rgba(248, 191, 191, 1) 0%, rgba(238, 139, 139, 1) 100%);
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.error {
    font-size: 13px;
    color: #F96464;
    margin-left: 20px;
    margin-top: -30px;
}